{% extends 'base.html' %}
<html>
<head>
    <title>Feedback page</title>
</head>


<body>
{% block content %}
    <div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
        {% if fdata %}
            <h3>Your Feedbacks Are...</h3>
        {% endif %}

        {% if fdata %}

            {% for i in fdata %}
                {% if i.rating >= 6 and i.rating <= 10 %}
                   <h2 id="name1">Name:{{ i.name }}</h2>
                    Rating:{{ i.rating }}<br>
                    Date:{{ i.date }}<br>
                    Feedback:{{ i.feedback }}<br>
                {% endif %}
            {% endfor %}

        {% else %}
            <h1>No data is availble</h1>
        {% endif %}
            <h3 id="name">Please Enter your Feedbacks</h3>
            <form method="POST">

                {% csrf_token %}
                {{ fform }}

                <center>
                    <input type="submit" value="send" class="btn btn-success">
                    <input type="reset" value="clear" class="btn btn-danger">
                </center>
            </form>
        </div>
    </div>
    </div>
{% endblock %}
</body>
</html>